.container {
  padding: 1em;
}

.button-icon {
  max-width: fit-content;
}

.hero {
  font-size: 4rem;
}

.recipe-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipe-form.section {
  gap: 0.5rem;
}

.recipe-form-item > input {
  min-width: 32rem;
}

.recipe-form-toggle > input {
  margin-right: 0.5rem;
}